body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container{
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    /* background-color: skyblue; */
    border: 1px rgb(22, 22, 161);
    font-size: x-large;
    font-display: center;
    
}

/* Navigation Bar */
nav{
  display: flex;
  /* flex-wrap: wrap; */
  background: #a1d6e2;
  height: 80px;
  width: 100%;
  justify-content: space-between;
}

.full {
  display: flex;
  height: 100%;
  /* margin-bottom: 100px; */
}

#contentss{
  /* margin-right: 0; */
  width: 15%;
  height: 100%;
  background-color: #a1d6e2;
}

#contentss ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  /* background-color: #a1d6e2; */
  height: 100%;
  padding: 10px 0;
  /* margin-left: 1000; */
  /* width: 20%; */
}

#contentss ul li {
  padding: 20px 0;
  height: 100%;
  list-style-type: none;

}


label {
  font-family: "passero";
}

.top-input {
  width: 500px;
  height: 38px;
  border-radius: 10px;
  border: #201D1D solid 1px;
  font-size: 20px;
  border-style: none;
  margin-top: -1px;

}

.searchicon {
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
  height: 38px;
  margin-top: 20px;
}

.top-search {
      width: 121px;
      height: 38px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
      background-color: #1995ad;
      box-shadow: 3px 3px 10px #413d3d;
      border-style: none;
      margin-top: 20px;
      margin-left: -10px;
}

.dropdown {
  display: flex;
  position: relative;
  width: 148px;
  height: 38px;
  font-weight: 400;
  font-size: 20px;
  background-color: #D9D9D9;
  margin-right: 180px;
  margin-top: 20px;
 

}

.dropbtn {
  background-color: #D9D9D9;
  border-style: none;
  width: 148px;
  height: 38px;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 500px;

}

.dropdown-contents {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 339px;
  height: 312px;
  align-items: center;
  text-align: left;
  border-radius: 20px;
  margin-top: 30px;

}

/* .content {
  padding-left: 60px;
} */

/* .dropdown-contents .sign-outbtn, a {
  display: block;
  text-decoration: none;
  padding: 10px;
} */

.sign-outbtn {
  width: 160px;
  height: 42px;
  border-radius: 20px;
  border-style: none;
  background-color: #1995ad;
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  /* margin: 15px 50px 0 35px; */
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
}

a{
  font-size: 25px;
  list-style: none;
  text-decoration: none;
}

.dropdown:hover .dropdown-contents {
  display: block;
}

.logo{
  /* color: rgb(36, 36, 245);
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  font-family: "passero"; */
  width: 200px;
  margin-left: -150px;
}
nav ul{
  float: right;
  margin-left: 100px;
  padding-bottom: 600px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:  #201D1D;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.topnav {
  text-align: left;
}

.dropdownIcon {
  /* margin-bottom: 200px; */
  display: none;
}

#internshipsContainer {
  width: 85%;
}


h1{
    text-align: center;
    margin-bottom: 10px;
    
}

label{
    display: block;
    margin-bottom: 2px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 100%;
    padding: 5px;
    font-size: 20px;
}

select {
    font-size: 20px;
}

.submit {
    padding: 5px;
    margin-top: 10px;
    margin-left: 75%;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

select{
    padding: 10px;
}



/* Popup Background */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Popup Content */
.popup-content {
    background-color: #00416A;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
    font-weight: 700;
    color: #fff;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Hide Popup */
.hidden {
    display: none;
}

  /* *************footer**************** */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    /* margin-top: 1000px; */
    background-color: #d8d6d6;
  }

  footer a {
    font-size: 15px;
    padding: 10px;
  }

  footer p {
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
  }

  ul.topnav li.dropdownIcon {
    display: none;
  }

@font-face {
    font-family: "passero";
    src: url(PasseroOne-Regular.ttf);
}



@media (max-width: 400px) {
  .searchicon, .dropdown, .top-search {
    display: none;
  }


}

@media (max-width: 900px) {
  .searchicon, .top-search {
    display: none;
  }

  ul.topnav li {
    display: none;

  }

  .sign-outbtn {
    font-size: 20px;
    width: 90px;
  }

  .dropbtn {
    width: 100px;
  }

  ul.topnav li a {
    font-size: 20px;
  }

  #internshipsContainer{
    margin-bottom: 500px;
    /* width: 100%; */
  }

  ul.topnav li.dropdownIcon {
    display: block;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li {
    display: inline;
    float: none;
  }

  
  ul.topnav.responsive li a {
    display: block;
  }
}

@media (max-width: 1600px) {
  .top-input {
    width: 300px;
  }


  .top-search {
    margin-left: 0;
  }

  .dropdown {
    margin-right: 20px;
  }

  #contentss {
    width: 20%;
  }

}